/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-acent: "PressStart2P-Regular", monospace;
  --font-main: "Inter-Variable", monospace;
  --font-weight-paragraf: 400;
  --font-weight-title: 700;
  --shadow-color: #c4bebe;
  --inline-size: 700px;
  --button-text-color: #fff;
  --bg-color: #fff;
  --border-color: #000;
  --contour-color: #000;
  --animation-fill-color: #ff0000;
  --core-color: #fff;
}
